/*HTML custom CSS.
-------------------------------------------------- */
hr {
    border-color: black;
}

/*Bootstrap Override.
-------------------------------------------------- */
.navbar {
    margin-bottom: 40px;
    margin-top: 15px;
}

.navbar-brand {
    padding: 22px 56px 15px;
}

.navbar-brand .brand {
    width: 80px;
}

/*Custom CSS.
-------------------------------------------------- */

.bg-pri {
    background-color: white;
    /*color: white;*/
}

.bg-sec {
    background-color: white;
    /*color: ;*/
}

.bg-body {
    background-color: white;
    /*color: ;*/
}

.navbar-default .navbar-nav > li > a {
    /*color: white;*/
}

.box-primary {
    border: medium none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.box-secondary {
    border: medium none;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
}

/*login CSS.
-------------------------------------------------- */
.login {
    padding: 15px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 8px;
}

.login .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: #ffffff;*/
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

.login .bienvenida {
    border-right: 1px solid #E3E3E3;
}

/* Hace que los col quetengan misma altura.
-------------------------------------------------- */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/* Sticky footer styles.
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 37px;
}