/*HTML custom CSS.
-------------------------------------------------- */
hr {
    border-color: black;
}

/*Bootstrap Override.
-------------------------------------------------- */
.navbar {
    margin-bottom: 40px;
    margin-top: 15px;
}

.navbar-brand {
    padding: 22px 56px 15px;
}

.navbar-brand .brand {
    width: 80px;
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        padding: 7px 0px 0px;
    }

    .navbar-brand .brand {
        width: 50px;
    }
}

/*Custom CSS.
-------------------------------------------------- */

.bg-pri {
    background-color: white;
    /*color: white;*/
}

.bg-sec {
    background-color: white;
    /*color: ;*/
}

.bg-body {
    background-color: white;
    /*color: ;*/
}

.navbar-default .navbar-nav > li > a {
    /*color: white;*/
}

/*box CSS.
-------------------------------------------------- */
.box-primary {
    padding: 15px;
    border-radius: 5px;
    border: medium none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.box-secondary {
    border: medium none;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
}

.lower-box {
    position: relative;
    z-index: 1;
    margin-top: 10px;
    margin-bottom: 8px;
}

.lower-box .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: #ffffff;*/
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

.lower-box .box-right-content {
    border-right: 1px solid #E3E3E3;
}

/* Hace que los col tengan la misma altura.
-------------------------------------------------- */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/* Sticky footer styles.
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 37px;
}

/* otras
-------------------------------------------------- */
.input-width-90 input {
    width: 90%;
}

.input-width-95 input {
    width: 95%;
}